/*
      Badal Shrestha
      UN ID= 17421494

*/

@import "style.css"; /* It improt all function of style.css */
@import "tab.css"; /* It improt all function of tab.css */
@import "mobile.css"; /* It improt all function of mobile.css */
main{
  height: auto; /* height will automatically adjust acording to the height of item inside the main div */
  display: flex;
  flex-direction: row; /* flec item will display in row */
  flex-wrap: wrap; /* over flow of flex item will start from another row */
  justify-content: center;

}
.left_part{
  justify-content: space-between; /* there will be equal space between the flex item */
}

h3.git-hub{
 text-align: center; /* Context will start from the center */
margin-top:-10%; /* Context will appear 85px below from the top */

}
.image{
  height: 69%;
}


main h2{
  width: 100%;
  margin: 2% 0 2% 2%;
  padding: 0px;
  font-size: 1.5em;
  color: #948228;
  font-family: 'Revalia', cursive;  /* Structure of the the font will the Revalia Font Family */
}
.cv{
  background: #111010;
  width: 45%;
  height: 200px;
  margin:0% 2% 3% 2%;
  color: rgb(134, 120, 25);
  box-shadow: 7px 8px 20px black;
  border-radius: 4%;

}

.cv_content ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  font-family: 'Farsan', cursive;  /* Structure of the the font will the Farsan Font Family */
  font-size: 1.09em; /* Font size will bev1.09em */
}

.cv_content ul li{
  height: auto; /* height will automatically adjust acording to the height of item inside the mani div */
}

.cv_title{
  border-bottom:3px solid black;
  height: 32px;
  transition: background 1s;
  font-family: 'Courgette', cursive; /* Structure of the the font will the Courgette Font Family */
}

.cv_title:hover{
  background: black;
}

.cv_title h3{
  padding:1% 0 0 4%;
  margin: 0px;
}

@media only screen and (max-width:768px) {  /* if maxim width of the screen  is 768px then it wiil be called and its action are done */
  main h2{
    font-size: 1em;
}


  .cv{
    height: auto;
  }
  .cv_content ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
  }

  .cv_content ul li{
    height: auto;
  }

}

@media (max-width:425px) { /* if maxim width of the screen  is 425px then it wiil be called and its action are done */
  main{
    display: flex;
    padding: 0%;
    width: 100%;
  }
  main h2{
    font-size: 1em; /* fotn size will be 1em*/

  }
  .cv{
    width: auto;
    margin: 0% 3% 4% 3%;
    font-size: 0.8em;


  }
  .cv_content{
    font-size: 1.2em;
  }

  .cv_content li{
    padding: 2px;
  }

}
