@import "style.css";
@import "tab.css";
.responsive{
  display: none;
}
@media only screen (max-width:769px) {
  main{

  }
  .responsive{
    display: flex;
    padding: 10px 0px 0px 10px;
    width:30%;
  }
  #responsive-img{
    height: 250px;
    width:100%;
    box-shadow:1px 4px 10px black;
    border-radius: 50% ; /* It create circular border */
    transition: width 1s, height 1s, border 0.5s;


  }

}
