/*
      Badal Shrestha
      UN ID= 17421494

*/

@media  (max-width:425px){ /* if maxim width of the screen  is 425px then it wiil be called and its action are done */
  body{
    flex-direction: column;
  }

  .left_part{
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    height: 60px;
    position: absolute;
    box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.76);
  }

  .profile{
   height:80px;
   background-size:60px 40px;
 }
 .signature{
   display: none;
 }
  a h3.git-hub{
    margin-top:-11%;
  }
  .image{
    display: none;
  }
  #menu{
    width: 0px;
    height: 0px;
    position: fixed;
    display: none;
    transition: width 1s;

  }
  #menu:target{
    width: 250px;
    height: 720px;
    display: flex;
    flex-direction: column;
    opacity: 0.95;

  }
  .back{
    display: flex;
    padding-left: 200px;
    position: fixed;
  }
  .menu-icon{
    width: 50px;
    display: flex;
    position: fixed;

  }
  .menu-icon img{
    width: 40px;
    height: 40px;
  }
  .menu-att{
    display: flex;
  }
  h4{
    margin:6px 0px 0px 0px;
    color:white;
  }
  hr{
    width:99%;
    margin-top:10px;
  }
  #menu ul{
    display: flex;
    flex-direction: column;
    padding-left: 3px;
  }
  #menu li{
    padding:25px  10px 0 0 ;
    display: flex;
    flex-direction: row;
    width: 100px;
    flex-wrap: nowrap;
    transition: width 1s;




  }

  #menu li:hover{
    width:237px;
    padding-top:25px;
    font-size: 16px;

  }
  .nav-text{
    background: #111010;
    margin: 9% 0 0 10px;
    width: auto;
    font-size: 18px;

  }
  section{
    width: 100%;
    height: 500px;
  }

  main{
    margin-top:60px;
    width: 100%;
    height: 720px;
    font-size: 18px;
  }
  .git-link{
    width: 90%;
  }
  .f-text{
    padding: 2px;
    text-align: center;
  }
  .copy-right{
    margin: 3% 0 2% 0;
  }
  .social img{
    width:30px;
    height: 30px;
  }


}
