body{
  display: flex;
  flex-direction: row; /*display the content in row */
  margin: 0; /* margin will be 0 */
  padding: 0;

}

.left_part{
  background: linear-gradient(to bottom, #131212 ,#040404); /*Create gradient effect of two color from top to bottom */
  width: 25%; /* width will be 25% of the body width */
  display: flex; /* it create a flex box */
  flex-direction: column; /* Display content in column*/
  justify-content: space-between; /* there will be equal space between the flex item */
  padding: 0;
  margin: 0;


}
h3.git-hub{
 text-align: center; /* Context will start from the center */
 margin-top:-12%; /* Context will appear 85px below from the top */
 transition:0.5s; /* transiton change the changes vlaue smoothly */
}
h3.git-hub:hover{ /* if mouse is point over it following action will perform */
  color: #b5e600; /* Text color changes to #b5e600 */
  font-size: 1.4em; /* Font size changes to 1.4em  */
}



.profile{
  width: 100%; /* width wil be 100% of the profile inside the left_part div */
  height: 120px;
  color: white;
  background-image: url(../images/Logo.png); /* Background image will be Logo.png */
  background-position: top center; /* Postion fo background image will be top center */
  background-repeat: no-repeat; /* There will no repeatition of same image */
  background-size: 120px 80px;
  font-family: 'Black Ops One', cursive; /* Font type will be Black Ops One */
  animation-name: logo; /* Animation name must be declared while using */
  animation-duration: 5s; /*Animation effect will last upto 5 second */
  animation-delay: 2s; /* Animation will start after 2 second after loading the page */
  animation-iteration-count: infinite; /* Animation will repeat it shelf for infinite time */
 }

 @keyframes logo { /* It is a command which create animation in animation-name logo*/
  0%{ background-image: url(../images/Logo.png); }
  25%{ background-image: url(../images/Logo4.png);} /* After completing 25% of animation-duration time background will change*/
  50%{ background-image: url(../images/Logo.png); } /* After completing 50% of animation-duration time background will change*/
  75%{ background-image: url(../images/Logo4.png);} /* After completing 75% of animation-duration time background will change*/
  100%{ background-image: url(../images/Logo.png); } /* After completing 100% of animation-duration time background will change*/
 }

  h3.git-hub{
   text-align: center; /* Context will start from the center */
   margin-top:-26%; /* Context will appear 85px below from the top */

 }

 .image{
   padding: 0px 0px 0px 10px;  /* Div content will apear 10px side from the left */
   margin-top:18%; /* image div will appear 18% below the upper div */
   background-attachment: fixed;

 }


 #circular-img{
   height: 300px;
   width:95%;
   box-shadow:1px 4px 10px black; /* shadow of Black color will apear  1px,4px from horizontally and vertically respectivly and 10px will be blur */
   border-radius: 50% ; /* It create circular border */
   transition: width 1s, height 1s, border 0.5s; /* Value of width, height and border changes one second and 0.5second respectively */
 }

 #circular-img:hover{
   border:5px solid #24231e; /* It create solid 6px border of #24231e color */
   width: 90%;
 }

 .image p{ /* It will create changes only p tag which inside of image div */
   font-size: 30px; /* Font size will be 30px */
   font-style: italic; /* Text will appear in italic style */
   font-family: 'Black Ops One', cursive; /* Structure of the the font will the Black Ops One Font Family */
   color:#948228; /* Color of font will be 948228 like yellow color */
   padding:7px 0px 0px 7px;; /* Content will start 7px from top and left side */
   margin: 0;
 }
 .signature{
   height: 151px;
   background: black;
   width: auto;
 }
h2.mySite{
  color:#a9a92f;
  font-family: 'Sansita', sans-serif;  /* Structure of the the font will the Sansita Font Family */
  margin-left: 2%;
  font-size: 1.5em;
  width: auto;

}
.signature img{
  margin: 1% 0 0 4%; /* ot will have 1% margin from the top and 0% from the right and bottom and 4% from the left */
  width: auto;
}

section{
  width: 85%;
}
.menu-icon{
  display: none; /* it will not display anything which is inside of menu-icon div */

}
 .menu-icon img{
   width: 0px;

 }
 header{
   height: 120px;
   width:78%;
   background: rgb(17, 16, 16); /* background color will contain 17%,16%,16% red,green and blue respectively */
   position: fixed; /* position of header div will not change */
   color: yellow;
   box-shadow: 5px 3px 12px black; /* 5px of horizontal and 3px vertical shadow of black color will form with 121px blur value */
   z-index: 10; /* it will lies 10px above other div */


 }
 .back{
   display: none; /* it wil not display back div and its content in website */
 }

 a{
   text-decoration: none; /* Default color and decration of hyperlink will removed */
   color: #948228;
 }
 #menu ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin:0;
    justify-content:flex-end ; /* Flex item will start from the end of that div */
    color: #948228;


  }
 #menu li{
   display: flex;
   flex-direction: column;  /*display the content in row */
   width: 80px;
   height:34px;
   padding:85px 10px 0 0 ; /* It give padding from top, right. bottom and left side respectively */
   text-align: center; /* All the text inside the li will start fro the center */
   overflow: hidden; /* The over flow contain will not display */
   transition: padding 1s, linear-gradient 2s; /* Value of padding and linear gradient chamges smoothly 1 second and 2 second respectively */



 }

  #menu li:hover{
   background: linear-gradient(to top,rgba(45, 39, 5, 0.58),rgba(49, 43, 4, 0.14)); /*background color changes when mouse is pointed over the context */
   font-size: 18px;
   padding:65px 10px 0 0 ;
   overflow: visible;  /* The over flow content will be visible */


 }

 header img  {
   width: 30px;
   height: 30px;
 }
 .nav-text{
   margin: 0px;
   width: 90px;
   background: rgba(187, 171, 20, 0.24);
 }

 .menu-att{
   display: none;  /* it wil not display menu-att div and its content in website */
 }

 main{
   background: linear-gradient(to bottom right,#131212,#272620); /* create diagonal gradient from top left to bottom right */
   height: 480px;
   margin-top: 120px;

 }


 footer{
   background-color: #0a0909;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 5px;
   box-shadow: 4px -4px 11px 0px;
   font-family: 'Sansita', sans-serif; /* Structure of the the font will the Sansita Font Family */

 }
 .git-link{
   width:30%;
   text-align:center;
   padding-top: 3px;
   margin-top: 2px;
   height:25px;
   animation-name: link-animation;
   animation-duration: 5s;
   animation-iteration-count: infinite;
   border-radius:5px;
   border-top: 2px inset #888e2a;
   border-bottom: 2px inset #373a11;
   border-right: 2px inset black;
   border-left: 2px inset black;


 }
 @keyframes link-animation {
   0%{
     border-top: 2px inset #888e2a;
     border-right: 2px inset black;
     border-bottom: 2px inset #373a11;
     border-left: 2px inset black;
   }
   25%{
     border-top: 2px inset black;
     border-right: 2px inset #888e2a ;
     border-bottom: 2px inset black;
     border-left: 2px inset #373a11;
   }
   50%{
     border-top: 2px inset #373a11;
     border-right: 2px inset black;
     border-bottom: 2px inset #888e2a;
     border-left: 2px inset black;
   }
   75%{
     border-top: 2px inset black;
     border-right: 2px inset #373a11;
     border-bottom: 2px inset black;
     border-left: 2px inset #888e2a;
   }
   100%{
     border-top: 2px inset #888e2a;
     border-right: 2px inset black;
     border-bottom: 2px inset #373a11;
     border-left: 2px inset black;
   }

 }
 .git-link:hover{
   background: linear-gradient(to right,#060606,rgba(37, 37, 10, 0.37));
 }
 .f-text{
   padding:0px;
   margin: 0px;
   color: #948228;

 }
 .f-text:hover{
   background: linear-gradient(to right,#060606,rgba(37, 37, 10, 0.37));

 }
 .contact{
   font-size: 20px;

 }
 .fotter-text{
   font-family: 'Oswald', sans-serif; /* Structure of the the font will the Oswald Font Family */

 }
 .social{
   margin-top:5px;
   display: flex;
   justify-content: center;


 }
 .social img{
  width:40px;
  height:40px;
  padding:2px;
  transition: width 1s, height 0.5s;
 }
 .social img:hover{ /* Following action will perfrom if mouse is point over socila div image */
   width: 30px;
   height: 30px;
 }
 .copy-right{
   color: #a9a92f ;
   font-family: 'Oswald', sans-serif; /* Structure of the the font will the Oswald Font Family */
 }
