/* This css only comes into action if the website is open in a screen of width less than 729px */
@media only screen and (max-width:768px) {
  body{
    flex-direction: column;
  }

  .left_part{
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    height: 80px;
    position: fixed;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.68);
  }
 .image{
    display: none;
  }
  .social{
    margin-top:2%;
  }
  #menu{
    width: 0px;
    height: 0px;
    position: fixed;
    display: none;

  }
  #menu:target{
    width: 250px;
    height: 620px;
    display: flex;
    flex-direction: column;
    opacity: 0.95;

  }
  #menu a{
    display: flex;
  }
  .back{
    display: flex;
    padding-left: 200px;
    position: fixed;
  }
  .menu-icon{
    width: 50px;
    display: flex;
    position: fixed;

  }
  .menu-icon img{
    width: 40px;
    height: 40px;
  }
  .menu-att{
    display: flex;
  }
  h4{
    margin:6px 0px 0px 0px;
    color:white;
  }
  hr{
    width:99%;
    margin-top:10px;
  }
  ul{
    display: flex;
    flex-direction: column;
    padding-left: 3px;
  }
  #menu li{
    padding:25px  10px 0 0 ;
    display: flex;
    flex-direction: row;
    width: 100px;
    flex-wrap: nowrap;
    transition: width 1s;




  }

  #menu li:hover{
    width:237px;
    padding-top:25px;
    font-size: 16px;

  }
  .nav-text{
    background: #111010;
    margin: 9% 0 0 10px;
    width: auto;
    font-size: 18px;

  }
  section{
    width: 100%;
    height: 500px;
  }
  .profile{
   height:80px;
   background-size:70px 50px;
 }
  .profile h3{
    padding-top: 55px;
    text-align:center;
    padding-top: 55px;

  }
  main{
    margin-top:80px;
    width: 100%;
    height: 500px;
    padding: 0px;
  }

  .copy-right{
    margin: 2% 0 2% 0;

}
