/* This css only comes into action if the website is open in a screen of width less than 729px */
@media only screen and (max-width:768px) {
  body{
    flex-direction: column; /* flex item is display in column */
  }

  .left_part{
    flex-direction: column; /* flex item is display in column */
    width: 100%;
    justify-content: flex-start; /* flex item will position from the begining of left_part div */
    height: 80px;
    position: absolute; /* position will not chage respect to other */
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.68);
  }
  .signature{
    display: none; /* it will not display signature div in browser */
  }

 .image{
    display: none; /* it will not display signature div in browser */
  }
  .social{
    margin-top:2%;
  }
  #menu{
    width: 0px;
    height: 0px;
    position: fixed; /* its position will not changed */
    display: none;

  }
  #menu:target{
    width: 250px;
    height: 620px;
    display: flex;
    flex-direction: column; /* flex item will display in column */
    opacity: 0.95; /* Transparency will 0.95 */

  }
  #menu a{
    display: flex;
  }
  .back{
    display: flex;
    padding-left: 200px;
    position: fixed; /* postion will not changed */
  }
  .menu-icon{
    width: 50px;
    display: flex;
    position: fixed;
  }
  .menu-icon img{
    width: 40px;
    height: 40px;
  }
  .menu-att{
    display: flex;
  }
  h4{
    margin:6px 0px 0px 0px;
    color:white; /* color of text will be white */
  }
  hr{
    width:99%;
    margin-top:10px;
  }
  #menu ul{
    display: flex;
    flex-direction: column;
    padding-left: 3px;
  }
  #menu li{
    padding:25px  10px 0 0 ;
    display: flex;
    flex-direction: row;
    width: 100px;
    flex-wrap: nowrap;
    transition: width 1s; /* Value of width changes 1 second smoothly */
  }

  #menu li:hover{
    width:237px;
    padding-top:25px;
    font-size: 1em;

  }
  .nav-text{
    background: #111010;
    margin: 9% 0 0 10px;
    width: auto;
    font-size: 1em;

  }
  section{
    width: 100%;
    height: 500px;
  }
  .profile{
   height:80px;
   background-size:70px 50px;
 }
 a h3.git-hub{
   margin-top:-4%;
 }

  main{
    margin-top:80px;
    width: 100%;
    height: 500px;
    padding: 0px;
  }

  .copy-right{
    margin: 2% 0 2% 0; /* it will have 2% margin fro top and bottom side and 0% margin from rigth amd left side */

}
